:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-footer); /* Gris oscuro o negro suave */
  color: #fff;
  padding: 0.5rem;
  font-size: 0.9rem;
}