<aside class="sidebar">
  <nav>
    <ul>
      <!-- Inicio -->
      <li>
        <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      </li>

      <!-- Servicios -->
      <li>
        <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
      </li>

      <!-- Proyectos -->
      <li>
        <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
      </li>

      <!-- Tecnologías -->
      <li>
        <a routerLink="/tecnologias" routerLinkActive="active">Tecnologías</a>
      </li>

      <!-- Testimonios -->
      <li>
        <a routerLink="/testimonios" routerLinkActive="active">Testimonios</a>
      </li>

      <!-- Acerca de mí -->
      <li>
        <a routerLink="/acerca" routerLinkActive="active">Acerca de mí</a>
      </li>

      <!-- Contacto -->
      <li>
        <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </li>
    </ul>
  </nav>
</aside>