<main class="main-content">
    <section class="hero">
      <div class="hero-text">
        <h1>Impulsamos tu Transformación Digital con Migraciones .NET y DevOps</h1>
        <p>En [NombreGenérico Consulting] nos dedicamos a modernizar tus aplicaciones .NET legacy y optimizar tu cultura DevOps. Ya sea en Windows Server IIS o en Azure, ofrecemos despliegues confiables y escalables que elevan al máximo el rendimiento de tu negocio.</p>
        <button class="btn-primary">Empezar</button>
      </div>
      <div class="hero-image">
        <!-- Puedes agregar una imagen aquí -->
        <img src="assets/imagehome.jpg" alt="Imagen Principal">
      </div>
    </section>
</main>